footer 
    width 100%
    height 65px
    background-color #FFF
    position relative
    bottom 0 
    border-top 1px solid #ACBAB3
    padding 5px 0 10px 0
    +mobile()
        height 90px
        padding 10px 0
    .footer
        width 84%
        height 100%
        margin 0 auto
        display flex
        flex-direction row
        align-items center
        justify-content space-between
        +mobile()
            width 90%
            flex-direction column
        .contatos
            display flex
            flex-direction row
            align-items center
            +mobile()
                flex-direction column
            .endereco
                display flex
                flex-direction row
                align-items center
                notosans(14)
                color #224635
                margin 0
                transition 0.3s ease
                +below($tablet)
                    font-size 12px
                +mobile()
                    font-size 10px
                .img-endereco
                    width 14px
                    margin-right 10px
                    transition transform 0.3s
                    +below($tablet)
                        margin-right 5px
                    +mobile()
                        width 10px
                &:hover
                    text-decoration underline
                    .img-endereco
                        transform rotate(360deg) scale(1.3)
            .link-telefone
                display flex
                flex-direction row
                align-items center
                notosans(14)
                color #224635
                transition 0.3s ease
                margin-left 50px
                +below($tablet)
                    margin-left 20px
                    font-size 12px
                +mobile()
                    margin 5px 0 0 0
                    font-size 10px
                .img-telefone
                    width 16px
                    margin-right 10px
                    transition transform 0.3s
                    +below($tablet)
                        margin-right 5px
                    +mobile()
                        width 12px
                &:hover
                    text-decoration underline
                    .img-telefone
                        transform rotate(360deg) scale(1.3)
            .email
                display flex
                flex-direction row
                align-items center
                notosans(14)
                color #224635
                transition 0.3s ease
                +below($tablet)
                    font-size 12px
                +mobile()
                    margin 5px 0 0 0
                    font-size 10px
                .img-email
                    width 22px
                    margin-left 50px
                    margin-right 10px
                    transition transform 0.3s
                    +below($tablet)
                        margin-left 30px
                        margin-right 5px
                    +mobile()
                        margin-left 0
                        width 16px
                &:hover
                    text-decoration underline
                    .img-email
                        transform rotate(360deg) scale(1.3)
        .link-instagram
            display flex
            flex-direction row
            align-items center
            notosans(14)
            color #224635
            transition 0.3s ease
            +below($tablet)
                font-size 12px
            +mobile()
                font-size 10px
                margin 5px 0 0 0
            .img-instagram
                width 16px
                margin-right 5px
                margin-top 2px
                transition transform 0.3s
                +mobile()
                    width 12px
            &:hover
                text-decoration underline
                .img-instagram
                    transform rotate(360deg) scale(1.3)
                