header 
    width 100%
    height 140px
    top 0
    left 0
    z-index -1
    padding-top 40px
    background-color #FFF
    nav
        display block
        padding 0
        width 100%
        height 100%
        .itens-menu
            width 650px
            margin 0 auto
            display flex
            flex-direction row
            align-items center
            justify-content space-between
            +below($tablet)
                width 60%
            +mobile()
                width 90%
            div.left, div.right
                width calc("(650px-200px)/2")
                display flex
                align-items center
                justify-content space-around
                +below($tablet)
                    width 33%
                +mobile()
                    width 30%
                .link-nav
                    notosans(15, thin)
                    color #224635
                    margin 0
                    padding 0
                    letter-spacing -0.5px
                    position relative
                    transition 0.2s ease
                    +below($tablet)
                        font-size 14px
                    +mobile()
                        font-size 11px
                    &:hover
                    &.active
                        font-weight 600
            .link-logo
                width 220px
                height auto
                margin 0 20px
                z-index 9
                +below($tablet)
                    width 33%
                +mobile()
                    width 38%
                    margin 0 5px
                .img-logo
                    width 100%
                    transition transform 0.3s
                    &:hover
                        transform scale(1.1)

.aviso-cookies
    display flex
    width 100%
    margin 0
    flex-direction row
    align-items center
    justify-content center
    bottom 0
    background-color rgba(0, 0, 0, 0.8)
    position fixed
    z-index 9
    padding 25px
    +mobile()
        flex-direction column
        align-items center
        padding 20px 
    .frase-cookies
        width 760px
        notosans(12)
        color #FFF
        margin 0
        .link-politica
            text-decoration underline
            &:hover
            &:focus
                font-weight bold
        +below($tablet)
            width 70%
        +mobile()
            font-size 11px
            width 100%
            text-align center
    .aceitar-cookies
        width 150px
        height 30px
        notosans(12)
        color #FFF
        background-color transparent 
        border 1px solid #FFF
        border-radius 0
        margin-left 10px
        cursor pointer
        outline none
        &:hover
        &:focus
            background-color #fff
            color #224635
        +mobile()
            width 100%
            text-align center
            margin-left 0
            margin-top 10px