desktop-base-width     = 1260px
rupture.desktop-cutoff = $tablet = 1260px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$vermelho = #E02227
$verde = #2caf2c

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap')

notosans($size, $weight = normal)
    font-family 'Noto Sans', 'Helvetica', 'Arial', sans-serif
    font-size $size px
    font-weight 400
    if $weight == thin
        font-weight 100
    if $weight == light
        font-weight 300
    if $weight == medium
        font-weight 500
    if $weight == bold
        font-weight 700

