section.contato
    width 100%
    height auto
    position relative   
    background-color #FFF
    padding 80px 0 
    +below($tablet)
        padding 40px 0 70px 0
    +mobile()
        padding 0 0 50px 0
    .center
        width 80%
        height 750px
        margin 0 auto
        display flex
        +mobile()
            height auto
            flex-direction column-reverse
        .contato-mapa
            width 50%
            height 100%
            +mobile()
                width 100%
                height 350px
            iframe
                display block
                width 100%
                height 100%
                top 0
                left 0
        .contato-dados
            width 50%
            height 100%
            background-color #D3D0D0
            padding 70px
            display flex
            flex-direction column
            align-items flex-start
            +below($tablet)
                padding 50px 30px
            +mobile()
                width 100%
                height auto
                padding 50px 20px
            .link-telefone, .link-instagram, .link-email, .endereco
                display flex
                flex-direction row
                align-items center
                notosans(16, light)
                color #224635
                margin-bottom 20px
                transition 0.3s ease
                +below($tablet)
                    font-size 14px
                .img-telefone, .img-instagram, .img-email, .img-endereco
                    width 19px
                    margin-right 25px
                    transition transform 0.3s
                    +below($tablet)
                        width 16px
                        margin-right 20px
                &:hover
                    text-decoration underline
                    .img-telefone, .img-instagram, .img-email, .img-endereco
                        transform rotate(360deg) scale(1.3)
            form
                display flex
                flex-direction column
                align-items flex-start
                width 100%
                margin-top 50px
                position relative
                input[type=text]
                input[type=email]
                    width 100%
                    height 30px
                    outline 0
                    border 0
                    padding 0 20px
                    margin-bottom 5px
                    background #DCDADA
                    border none
                    border-radius 0
                    notosans(14, light)
                    color #224635
                    transition 0.3s ease
                    +below($tablet)
                        font-size 12px
                    +placeholder()
                        notosans(14, light)
                        color #224635
                        transition 0.3s ease
                        +below($tablet)
                            font-size 12px
                    &:hover
                    &:focus
                        font-weight 600
                        +placeholder()
                            font-weight 600
                textarea
                    width 100%
                    height 200px
                    background #DCDADA
                    outline 0
                    border 0
                    padding 10px 20px
                    resize none
                    margin 0
                    notosans(14, light)
                    color #224635
                    transition 0.3s ease
                    +below($tablet)
                        font-size 12px
                    +placeholder()
                        notosans(14, light)
                        color #224635
                        transition 0.3s ease
                        +below($tablet)
                            font-size 12px
                    &:hover
                    &:focus
                        font-weight 600
                        +placeholder()
                            font-weight 600
                .g-recaptcha
                    transform-origin top left
                    margin-top 5px
                    +tablet()
                        transform scale(.95)
                    +below(400px)
                        transform scale(.8)
                    +below(330px)
                        transform scale(.75)
                button[type=submit]
                    width 100%
                    height 30px
                    border-radius 0
                    border 1px solid #BCBEBC
                    background-color #DCDADA
                    outline 0
                    cursor pointer
                    margin-top 5px
                    notosans(14, light)
                    color #224635
                    transition 0.3s ease
                    +below($tablet)
                        font-size 12px
                    &:hover
                        background #BCBEBC
                        font-weight 600
                clearfix()
                .flash
                    display flex
                    align-items center
                    justify-content center
                    position relative
                    margin 5px 0 0 0
                    height auto
                    width 100%
                    notosans(14)
                    color #FFF
                    padding 10px
                    border-radius 0
                    +below($tablet)
                        font-size 12px
                    &.flash-erro
                        border none
                        background $vermelho
                        color #fff
                    &.flash-sucesso
                        border none
                        background $verde
                        color #fff
    .direitos
        width 1300px
        margin 60px auto 0 auto
        display flex
        flex-direction row
        align-items center
        justify-content center
        +below($tablet)
            width 90%
            flex-wrap wrap
        .empresa, .link-trupe
            notosans(11, thin)
            color #224635
            margin 0 0 0 3px
            +mobile()
                font-size 9px
        .link-trupe
            display flex
            align-items center
            transition 0.3s ease
            .img-kombi
                width 16px
                margin-left 10px
                transition transform 0.3s
                +mobile()
                    width 14px
                    margin-left 5px
            &:hover
                text-decoration underline
                .img-kombi
                    transform rotate(360deg) scale(1.2)