section.home
    width 100%
    height calc("100% - 60px - 100px")
    position absolute   
    background-color #FFF
    margin-top -50px
    +mobile()
        height calc("100% - 60px - 110px")
        margin-top -60px
    .banners
        width 95%
        height 98%
        margin 0 auto
        position relative
        z-index 1
        .banner
            width 100%
            height 100%
            top 0
            left 0
            background-size cover
            background-position center
            object-fit cover