.menu-categorias
    width 100%
    height 25px
    background-color #F0EFEF
    display flex
    flex-direction row
    align-items center
    justify-content center
    margin-bottom 20px
    +mobile()
        width 100%
        height 150px
        flex-direction column
    .link-categoria
        notosans(12, light)
        color #224635
        text-transform lowercase
        padding 0 20px
        transition 0.2s ease
        +below($tablet)
            padding 0 15px
        +mobile()
            padding 3px 0
        &:hover
        &.active
            font-weight 600
            
.menu-categorias-show
    width calc("100% - 20px")
    height 25px
    background-color #F0EFEF
    display flex
    flex-direction row
    align-items center
    justify-content center
    margin-bottom 20px
    +mobile()
        width 100%
        height 150px
        flex-direction column
    .link-categoria
        notosans(12, light)
        color #224635
        text-transform lowercase
        padding 0 20px
        transition 0.2s ease
        +below($tablet)
            padding 0 15px
        +mobile()
            padding 3px 0
        &:hover
        &.active
            font-weight 600