section.midias
    width 100%
    height auto
    position relative   
    background-color #FFF
    padding 80px 0 60px 0
    +below($tablet)
        padding 60px 0
    +mobile()
        padding 0 0 40px 0
    .center
        width 80%
        margin 0 auto
        position relative
        display grid
        grid-column-gap 20px
        grid-row-gap 30px
        grid-template-columns 24% 24% 24% 24%
        +below($tablet)
            grid-column-gap 2%
            grid-row-gap 2%
            grid-template-columns 32% 32% 32%
        +mobile()
            grid-column-gap 0
            grid-row-gap 20px
            grid-template-columns 100%
        .midia
            width 100%
            height 400px
            position relative
            +below($tablet)
                height 300px
            +mobile()
                height 340px
            .div-img
                width 100%
                height 360px
                padding 15px
                background-color #D3D0D0
                display flex
                align-items center
                justify-content center
                transition 0.2s ease
                +below($tablet)
                    height 260px
                    padding 10px
                +mobile()
                    height 300px
                .img-capa
                    width 100%
                    height 100%
                    object-fit contain
            .midia-dados
                display flex
                align-items center
                .titulo, .ano
                    notosans(14, light)
                    color #224635
                    text-align left
                    transition 0.2s ease
                    +below($tablet)
                        font-size 12px
                .ano
                    margin-left 5px
            &:hover
                .div-img
                    opacity 0.8
                .midia-dados
                    .titulo, .ano
                        font-weight 600
    .btn-mais-midias
        width 120px
        height 55px
        margin 100px calc("(100%-120px)/2") 50px calc("(100%-120px)/2")
        border 1px solid #224635
        background-color transparent
        notosans(12, light)
        color #224635
        cursor pointer
        transition 0.3s ease
        +below($tablet)
            width 100px
            height 50px
            margin 80px calc("(100%-100px)/2") 30px calc("(100%-100px)/2")
        +mobile()
            margin 50px 40%
        &:hover
            background-color #224635
            color #FFF
            font-weight 500


.fancybox-overlay
    +mobile()
        width 100vw !important
.fancybox-wrap 
    +mobile()
        width 100% !important
        top 50px !important
        left 0 !important
.fancybox-inner
    +mobile()
        width 100% !important
        height auto !important
.fancybox-prev
    width 50%
    left -50px
    +mobile()
        left 0 !important
    > span
        +mobile()
            visibility visible !important
            opacity 0.3
            left 10px
.fancybox-next
    width 50%
    right -50px
    +mobile()
        right 0 !important
    > span
        +mobile()
            visibility visible !important
            opacity 0.3
            right 10px