.politica-de-privacidade
    position relative
    width 1300px
    margin 50px auto
    +below($tablet)
        width 90% !important
    .titulo
        notosans(18, bold)
        color #224635
        margin-bottom 30px
        +below($tablet)
            font-size 16px
    .texto
        position relative
        background-color transparent
        width 100%
        height auto
        padding 0
        notosans(16, thin)
        color #224635
        +below($tablet)
            font-size 14px
        +mobile()
            font-size 12px !important
        p
            margin 0 0 20px 0
            text-align left
.direitos
    width 1300px
    margin 60px auto
    display flex
    flex-direction row
    align-items center
    justify-content center
    +below($tablet)
        width 90%
        flex-wrap wrap
    .empresa, .link-trupe
        notosans(11, thin)
        color #224635
        margin 0 0 0 3px
        +mobile()
            font-size 9px
    .link-trupe
        display flex
        align-items center
        transition 0.3s ease
        .img-kombi
            width 16px
            margin-left 10px
            transition transform 0.3s
            +mobile()
                width 14px
                margin-left 5px
        &:hover
            text-decoration underline
            .img-kombi
                transform rotate(360deg) scale(1.2)
