section.projetos-show
    width 100%
    height auto
    position relative   
    background-color #FFF
    padding 40px 0 60px 0
    +mobile()
        padding 0 0 40px 0
    .center
        width 1200px
        margin 0 auto
        position relative
        @media screen and (min-width: 1600px)
            width 1500px
        +below($tablet)
            width 80%
        .dados-projeto
            width 100%
            .nome-cat
                display flex
                flex-direction row
                align-items center
                margin-bottom 15px
                .titulo
                    margin 0 30px 0 0
                    notosans(14)
                    font-weight 600
                    color #224635
                    text-transform uppercase
                    +below($tablet)
                        font-size 12px
                .categoria
                    margin 0
                    notosans(12, thin)
                    color #224635
                    text-transform uppercase
                    +below($tablet)
                        font-size 10px
            .loading
                display block
                text-align center
                img 
                    +mobile()
                        width 50% !important
            .imagens
                visibility hidden
                width 100%
                display flex
                flex-direction row
                justify-content flex-start
                flex-wrap wrap
                +mobile()
                    flex-direction column
                    align-items center
                .horizontal
                    width 580px
                    @media screen and (min-width: 1600px)
                        width 730px
                    +below($tablet)
                        width calc("49% - 15px")
                    +mobile()
                        width 100%
                .vertical
                    width 280px
                    @media screen and (min-width: 1600px)
                        width 355px
                    +below($tablet)
                        width calc("24.5% - 15px")
                    +mobile()
                        width 70%
                .projeto-imagem
                    height 550px
                    margin-bottom 20px
                    margin-right 20px
                    position relative
                    +below($tablet)
                        height auto
                        margin-bottom 15px
                        margin-right 15px
                    +mobile()
                        margin-bottom 10px
                        margin-right 0
                    .img-projeto
                        width 100%
                        height 100%
                        object-fit cover
                        position relative
                    .overlay
                        position absolute
                        bottom 20px
                        right 20px
                        notosans(14, light)
                        color #FFF
                        +below($tablet)
                            font-size 12px
                        +mobile()
                            bottom 10px
                            right 10px
            .projeto-video
                .video
                    width 100%
                    margin-top 20px
                    display flex
                    justify-content center
                    iframe
                        width 800px
                        height 420px
                        +below($tablet)
                            width 600px
                            height 320px
                        +mobile()
                            width 100%
                            height auto
        .bolinhas
            width 100px
            height 250px
            display flex
            flex-direction column
            align-items center
            justify-content center
            position fixed
            bottom 140px
            right 2%
            @media screen and (min-width: 1600px)
                right calc("((100% - 1600px) / 2) / 2")
            +below($tablet)
                right 2%
            +mobile()
                right 0
            .link-topo, .link-voltar
                width 100%
                height 100px
                border none
                border-radius 50%
                background-color #D3D0D0
                display flex
                flex-direction column
                align-items center
                justify-content center
                margin 5px 0
                transition 0.3s ease
                +below($tablet)
                    width 80px
                    height 80px
                +mobile()
                    width 60px
                    height 60px
                .img-seta-topo, .img-seta-voltar
                    margin-bottom 5px
                    transition transform 0.3s
                    +below($tablet)
                        width 12px
                    +mobile()
                        width 10px
                .img-seta-voltar
                    transform rotate(-90deg)
                .texto-topo, .texto-voltar
                    notosans(14)
                    font-weight 600
                    color #224635
                    margin 0
                    +below($tablet)
                        font-size 12px
                    +mobile()
                        font-size 10px
                &:hover
                    border 1px solid #224635
                    .img-seta-topo
                        transform rotate(360deg) scale(1.3)
                    .img-seta-voltar
                        transform rotate(270deg) scale(1.3)
