section.projetos
    width 100%
    height auto
    position relative   
    background-color #FFF
    padding 40px 0 60px 0
    +mobile()
        padding 0 0 40px 0
    .center
        width 1200px
        margin 0 auto
        @media screen and (min-width: 1600px)
            width 1500px
        +below($tablet)
            width 80%
        .projetos
            width 100%
            position relative
            display grid
            grid-column-gap 20px
            grid-row-gap 20px
            grid-template-columns 23.75% 23.75% 23.75% 23.75%
            @media screen and (min-width: 1600px)
                grid-template-columns 24% 24% 24% 24%
            +below($tablet)
                grid-column-gap 2%
                grid-row-gap 2%
                grid-template-columns 32% 32% 32%
            +mobile()
                grid-column-gap 0
                grid-row-gap 20px
                grid-template-columns 100%
            a.projeto
                width 100%
                height 240px
                position relative
                transition all .2s ease-in-out
                +below($tablet)
                    height 180px
                +mobile()
                    height 230px
                .img-capa
                    width 100%
                    height 100%
                    object-fit cover
                    transition opacity .2s
                    +mobile()
                        height 180px
                .overlay
                    display flex
                    flex-direction column
                    align-items center
                    justify-content center
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
                    padding 15%
                    background-color #C8C5C0
                    opacity 0
                    transition .3s ease
                    +mobile()
                        position relative
                        top -4px
                        height 50px
                        padding 0 25px
                        opacity 0.9
                    span.titulo
                        display block
                        width 100%
                        text-align center
                        notosans(14)
                        font-weight 600
                        color #224635
                        text-transform uppercase
                        padding-bottom 5px
                        border-bottom 1px solid #224635
                        +below($tablet)
                            font-size 12px
                        +mobile()
                            font-size 10px
                    span.categoria
                        display block
                        width 100%
                        text-align center
                        notosans(11, thin)
                        color #224635
                        text-transform uppercase
                        padding-top 5px
                        +below($tablet)
                            font-size 10px
                        +mobile()
                            font-size 9px
                &:hover .overlay
                    opacity 0.8
                    transform scale(0.95)