section.sobre
    width 100%
    height auto
    position relative   
    background-color #FFF
    padding 70px 0 100px 0
    +below($tablet)
        padding 40px 0 70px 0
    +mobile()
        padding 0 0 50px 0
    .dados
        width 80%
        height 970px
        margin 0 auto
        display flex
        @media screen and (min-width: 1400px) and (max-width: 1600px)
            height 880px
        @media screen and (min-width: 1600px)
            height 780px
        +below($tablet)
            height auto
            flex-direction column
            align-items center
        div.img
            width 50%
            height 100%
            +below($tablet)
                width 80%
                height 600px
            +mobile()
                width 100%
                height 400px
            .img-sobre
                width 100%
                height 100%
                object-fit cover
        div.texto
            width 50%
            height 100%
            background-color #D3D0D0
            padding 60px 50px
            notosans(16, thin)
            color #224635
            +below($tablet)
                padding 40px 30px
                font-size 14px
                width 80%
            +mobile()
                width 100%
            p
                margin 0 0 25px 0
                line-height 1.9
                +below($tablet)
                    line-height 1.7